nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}

.nav-left .logo {
  width: 130px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px; /* Kích thước hình ảnh */
  height: 35px; /* Đảm bảo chiều cao đồng nhất */
  border-radius: 50%; /* Hình tròn */
  object-fit: cover; /* Đảm bảo ảnh không bị méo */
  display: inline-block; /* Đảm bảo hiển thị đúng */
}

.dropdown-menu {
  border-radius: 4px;
  min-width: 120px;
  font-size: 14px;
}

.dropdown-menu button:hover {
  background-color: #f2f2f2;
}
