nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}

.nav-left .logo {
  width: 130px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 22px; /* Tăng gap để các icon cách xa hơn */
}

.nav-right img {
  width: 25px;
}

.nav-right .user-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
}

.dropdown-menu {
  border-radius: 4px;
  min-width: 120px;
  font-size: 14px;
}

.dropdown-menu button:hover {
  background-color: #f2f2f2;
}

.notification-container {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.notification-badge {
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  min-width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  z-index: 11;
}